In [1]:
from src.spark import Spark
import src.test as funcs
import matplotlib.pyplot as plt
from pyspark.sql import functions as fs

In [2]:
spark = Spark('load', 'spark://pc5-035-l.cs.st-andrews.ac.uk:7077')
sess = spark.session()

In [3]:
df = funcs.load_dataframe(sess, funcs.default_loc, funcs.schema)
df.first()

Row(text=u'RT @VinnyLingham2x: #Bitcoin needs less developers, and more incumbents and intermediaries! https://t.co/iia0k7i09B', entities=Row(hashtags=[Row(indices=[20, 28], text=u'Bitcoin')]), created_at=u'Thu Oct 26 06:26:17 +0000 2017', favourite_count=None, retweet_count=0, id_str=u'923435597242478592', user=Row(followers_count=59, utc_offset=None))

In [5]:
df2 = funcs.parse_timestmap(df)

df3 = df2.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count()

volume_df = df3.toPandas()

In [6]:
volume_df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-10-20</td>
      <td>256370</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-10-31</td>
      <td>152224</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-11-01</td>
      <td>290947</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-10-24</td>
      <td>125656</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-10-22</td>
      <td>307229</td>
    </tr>
    <tr>
      <th>5</th>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2017-11-10</td>
      <td>214538</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2017-11-23</td>
      <td>215200</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2017-11-16</td>
      <td>442745</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2017-11-14</td>
      <td>382167</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2017-11-15</td>
      <td>414060</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2017-10-25</td>
      <td>122090</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2017-10-21</td>
      <td>281832</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2017-11-12</td>
      <td>402885</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2017-11-17</td>
      <td>363870</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2017-11-22</td>
      <td>520918</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2017-10-19</td>
      <td>166704</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2017-10-26</td>
      <td>263167</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2017-10-23</td>
      <td>324848</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2017-11-13</td>
      <td>369999</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2017-11-07</td>
      <td>164673</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2017-11-19</td>
      <td>204342</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2017-11-11</td>
      <td>340496</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2017-11-20</td>
      <td>480150</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2017-11-21</td>
      <td>485447</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
import os 
import pandas as pd
crix = pd.read_csv(os.path.join("/cs/home/ls99/PycharmProjects/Spark/data/crypto", "crix.csv"), index_col=0)
crix.index = pd.to_datetime(crix.index)

In [ ]:
volume_df.dropna()
volume_df.set_index('date', inplace=True)
volume_df.index = pd.to_datetime(volume_df.index)

crix_and_vol = crix
crix_and_vol['volume'] = volume_df['count']
crix_and_vol_nona = crix_and_vol.dropna()

In [15]:
crix_and_vol_nona.corr()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
      <th>volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>price</th>
      <td>1.000000</td>
      <td>0.585943</td>
    </tr>
    <tr>
      <th>volume</th>
      <td>0.585943</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
import matplotlib as mpl
import matplotlib.patches as mpatches
mpl.rc('font', size=20)          # controls default text sizes
mpl.rc('axes', labelsize=20)    # fontsize of the x and y labels
mpl.rc('xtick', labelsize=20)    # fontsize of the tick labels
mpl.rc('ytick', labelsize=20)    # fontsize of the tick labels
mpl.rc('legend', fontsize=14)    # legend fontsize
mpl.rc('figure', titlesize=20)  #
mpl.rc('lines', linewidth=1.5)
mpl.rc('figure', figsize=(16, 9))


def double_plot(plots, names, xy_labels, title, xs=None):
    fig = plt.figure()
    ax = fig.add_subplot(111)
    
    line_style = "-"
    linewidth = 1.5
    ax.plot(xs, plots[0], linestyle=line_style, linewidth=linewidth, color="red") if xs is not None else ax.plot(plots[0])
    ax.set_ylabel(xy_labels[1])
    
    ax2 = fig.add_subplot(111, sharex=ax, frameon=False)
    ax2.plot(xs, plots[1], linestyle=line_style, linewidth=linewidth) if xs is not None else ax.plot(plot[0])
    ax2.yaxis.tick_right()
    ax2.yaxis.set_label_position("right")
    ax2.set_ylabel(xy_labels[2])
    
    plt.title(title)
    plt.xlabel(xy_labels[0])

    red_patch = mpatches.Patch(color='red', label=names[0])
    blue = mpatches.Patch(color='blue', label=names[1])
    plt.legend(handles=[red_patch, blue], loc='upper left')
    plt.tight_layout()
    ax.get_yaxis().set_major_formatter(
        mpl.ticker.FuncFormatter(lambda y, p: format(int(y), ',')))

    for (i, label) in enumerate(ax.get_xticklabels()):
        if 0 < i < len(ax.get_xticklabels()) - 1:
            label.set_visible(False)

    plt.show()
    plt.close()

In [39]:
scaled_price = crix_and_vol_nona.price * (crix_and_vol_nona.volume.iloc[0] / crix_and_vol_nona.price.iloc[0])
double_plot([crix_and_vol_nona.price, crix_and_vol_nona.volume], ['Index Price', 'Tweets'], ['Date', 'Price', 'Volume'], "Price vs Tweet Volume", crix_and_vol_nona.index.tolist())

In [42]:
crix_and_vol_nona.corr().price.volume

0.58594334311745255

In [47]:
bitcoin_hashes = ['btc', 'bitcoin']
df2.take(5)

[Row(text=u'RT @VinnyLingham2x: #Bitcoin needs less developers, and more incumbents and intermediaries! https://t.co/iia0k7i09B', entities=Row(hashtags=[Row(indices=[20, 28], text=u'Bitcoin')]), created_at=u'Thu Oct 26 06:26:17 +0000 2017', favourite_count=None, retweet_count=0, id_str=u'923435597242478592', user=Row(followers_count=59, utc_offset=None), timestamp=datetime.datetime(2017, 10, 26, 7, 26, 17)),
 Row(text=u'RT @LisaCiarlone: What the FORK!!! Bitcoin Cash Community Preps Hard Fork Slated for November 13! https://t.co/qCzqavmucQ', entities=Row(hashtags=[]), created_at=u'Thu Oct 26 06:26:17 +0000 2017', favourite_count=None, retweet_count=0, id_str=u'923435597267550208', user=Row(followers_count=0, utc_offset=None), timestamp=datetime.datetime(2017, 10, 26, 7, 26, 17)),
 Row(text=u'RT @LisaCiarlone: Are there any Politicians in the US that show support for Crypto-currency?  Please comment if you know of any. Than\u2026 ', entities=Row(hashtags=[]), created_at=u'Thu Oct 26 06:26:17 +0000 2017', favourite_count=None, retweet_count=0, id_str=u'923435597976489984', user=Row(followers_count=2, utc_offset=None), timestamp=datetime.datetime(2017, 10, 26, 7, 26, 17)),
 Row(text=u'RT @alttradex: The Alttradex ICO starts tomorrow: Get your 20% BONUS https://t.co/fCQqGfUAel #Alttradex #ICO #Bitcoin #Ethereum\u2026 ', entities=Row(hashtags=[Row(indices=[93, 103], text=u'Alttradex'), Row(indices=[104, 108], text=u'ICO'), Row(indices=[109, 117], text=u'Bitcoin'), Row(indices=[118, 127], text=u'Ethereum')]), created_at=u'Thu Oct 26 06:26:18 +0000 2017', favourite_count=None, retweet_count=0, id_str=u'923435598941011969', user=Row(followers_count=1331, utc_offset=None), timestamp=datetime.datetime(2017, 10, 26, 7, 26, 18)),
 Row(text=u'RT @ken2020_n: 10/27 \u3042\u3055\u30a4\u30c1\n\u4e8c\u5bae\u548c\u4e5f\n10/27 \u30ed\u30f3\u30c9\u30f3\u30cf\u30fc\u30c42\u6642\u9593SP\n\u4e8c\u5bae\u548c\u4e5f\n10/28 \u30e9\u30b9\u30c8\u30ec\u30b7\u30d4\u516c\u958b\u76f4\u524d\uff01\u7d76\u54c1\u30b0\u30eb\u30e1\u6253\u3061\u4e0a\u3052\u30c4\u30a2\u30fc\n\u4e8c\u5bae\u548c\u4e5f\n10/29 \u9244\u8155!DASH!!\n\u4e8c\u5bae\u548c\u4e5f\n11/2 \u30a2\u30e1\u30c8\u30fc\u30fc\u30af!\n\u4e8c\u5bae\u548c\u4e5f\n11/12 \u76f8\u8449\u30de\u30ca\u2026', entities=Row(hashtags=[]), created_at=u'Thu Oct 26 06:26:18 +0000 2017', favourite_count=None, retweet_count=0, id_str=u'923435600765583361', user=Row(followers_count=25, utc_offset=None), timestamp=datetime.datetime(2017, 10, 26, 7, 26, 18))]

In [118]:
btc_df = df2.withColumn("lowertext", fs.lower(fs.col("text")))
btc_df.show(1)

+--------------------+--------------------+--------------------+---------------+-------------+------------------+-----+-------------------+--------------------+
|                text|            entities|          created_at|favourite_count|retweet_count|            id_str| user|          timestamp|           lowertext|
+--------------------+--------------------+--------------------+---------------+-------------+------------------+-----+-------------------+--------------------+
|RT @VinnyLingham2...|[[[[20, 28], Bitc...|Thu Oct 26 06:26:...|           null|            0|923435597242478592|[59,]|2017-10-26 07:26:17|rt @vinnylingham2...|
+--------------------+--------------------+--------------------+---------------+-------------+------------------+-----+-------------------+--------------------+
only showing top 1 row

In [103]:
btc_df_ = btc_df.filter(fs.lower(df['text']).like("%bitcoin%") | fs.lower(df['text']).like("%btc%"))

In [104]:
btc_df_vol = btc_df_.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count().toPandas()

In [105]:
btc_df_vol

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-10-20</td>
      <td>129752</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-10-31</td>
      <td>75257</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-11-01</td>
      <td>147054</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-10-24</td>
      <td>63104</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-10-22</td>
      <td>130149</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2017-11-10</td>
      <td>98193</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2017-11-23</td>
      <td>81247</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2017-11-16</td>
      <td>182179</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2017-11-14</td>
      <td>163515</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2017-11-15</td>
      <td>171196</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2017-10-25</td>
      <td>53184</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2017-10-21</td>
      <td>134881</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2017-11-12</td>
      <td>172009</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2017-11-17</td>
      <td>161065</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2017-11-22</td>
      <td>182330</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2017-10-19</td>
      <td>74350</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2017-10-26</td>
      <td>118087</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2017-10-23</td>
      <td>163773</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2017-11-13</td>
      <td>176870</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2017-11-07</td>
      <td>64129</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2017-11-19</td>
      <td>81072</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2017-11-11</td>
      <td>149627</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2017-11-20</td>
      <td>199886</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2017-11-21</td>
      <td>183598</td>
    </tr>
  </tbody>
</table>
</div>

In [113]:
btc = pd.read_csv(os.path.join("/cs/home/ls99/PycharmProjects/Spark/data/crypto/KRAKEN_BTC_EUR.csv"), index_col=0)
btc.index = pd.to_datetime(btc.index)

btc_df_vol.dropna()
btc_df_vol.index = pd.to_datetime(btc_df_vol.index)

btc_and_vol = btc
btc_and_vol['price'] = btc_and_vol.weightedAverage
btc_and_vol['volume'] = btc_df_vol['count']
btc_and_vol_nona = btc_and_vol.dropna()

double_plot([btc_and_vol_nona.price, btc_and_vol_nona.volume], ['BTC Price', 'Tweets'], ['Date', 'Price', 'Volume'], "BTC Price vs Tweet Volume", btc_and_vol_nona.index.tolist())

In [111]:
btc_and_vol_nona.corr().price.volume

0.30750634486637513

In [119]:
eth_df = btc_df.filter(fs.lower(df['text']).like("%ether%") | fs.lower(df['text']).like("%eth%") | fs.lower(df['text']).like("%ethereum%"))
eth_df_vol = eth_df.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count().toPandas()

In [124]:
eth = pd.read_csv(os.path.abspath(os.path.join("/cs/home/ls99/PycharmProjects/Spark/data/crypto","KRAKEN_ETH_EUR.csv")), index_col=0)
eth.index = pd.to_datetime(eth.index)

eth_df_vol.dropna()
eth_df_vol.set_index('date', inplace=True)
eth_df_vol.index = pd.to_datetime(eth_df_vol.index)

eth_and_vol = eth
eth_and_vol['price'] = eth_and_vol.weightedAverage
eth_and_vol['volume'] = eth_df_vol['count']
eth_and_vol_nona = eth_and_vol.dropna()

double_plot([eth_and_vol_nona.price, eth_and_vol_nona.volume], ['ETH Price', 'Tweets'], ['Date', 'Price', 'Volume'], "ETH Price vs Tweet Volume", eth_and_vol_nona.index.tolist())

In [123]:
eth_df_vol

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1970-01-01 00:00:00.000000000</th>
      <td>2017-10-20</td>
      <td>33089</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000001</th>
      <td>2017-10-31</td>
      <td>17956</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000002</th>
      <td>2017-11-01</td>
      <td>37185</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000003</th>
      <td>2017-10-24</td>
      <td>17504</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000004</th>
      <td>2017-10-22</td>
      <td>38421</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000005</th>
      <td>2017-11-10</td>
      <td>24914</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000006</th>
      <td>2017-11-23</td>
      <td>27057</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000007</th>
      <td>2017-11-16</td>
      <td>49582</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000008</th>
      <td>2017-11-14</td>
      <td>45862</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000009</th>
      <td>2017-11-15</td>
      <td>48066</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000010</th>
      <td>2017-10-25</td>
      <td>16459</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000011</th>
      <td>2017-10-21</td>
      <td>43250</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000012</th>
      <td>2017-11-12</td>
      <td>49145</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000013</th>
      <td>2017-11-17</td>
      <td>39254</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000014</th>
      <td>2017-11-22</td>
      <td>64002</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000015</th>
      <td>2017-10-19</td>
      <td>23307</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000016</th>
      <td>2017-10-26</td>
      <td>37909</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000017</th>
      <td>2017-10-23</td>
      <td>47430</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000018</th>
      <td>2017-11-13</td>
      <td>41197</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000019</th>
      <td>2017-11-07</td>
      <td>30366</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000020</th>
      <td>2017-11-19</td>
      <td>25536</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000021</th>
      <td>2017-11-11</td>
      <td>41328</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000022</th>
      <td>2017-11-20</td>
      <td>47700</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000023</th>
      <td>2017-11-21</td>
      <td>67427</td>
    </tr>
  </tbody>
</table>
</div>

In [125]:
eth_and_vol_nona.corr().price.volume

0.39946022045860696