In [40]:
from src.spark import Spark
import src.tweet_volume as funcs
import matplotlib.pyplot as plt
from pyspark.sql import functions as fs
import os 
import pandas as pd
from src.plotting import double_plot
from src.settings import CRYPTO_DIR

In [2]:
spark = Spark('load', 'spark://pc2-060-l.cs.st-andrews.ac.uk:7077')
sess = spark.session()

In [6]:
# Load main data frame (according to the provided schema). It will consist of all tweet data
main_df = funcs.load_dataframe(sess, funcs.default_loc, funcs.schema)

# Print first row (e.g. the first tweet in the df)
main_df.first()

Row(text=u'RT @VinnyLingham2x: #Bitcoin needs less developers, and more incumbents and intermediaries! https://t.co/iia0k7i09B', entities=Row(hashtags=[Row(indices=[20, 28], text=u'Bitcoin')]), created_at=u'Thu Oct 26 06:26:17 +0000 2017', favourite_count=None, retweet_count=0, id_str=u'923435597242478592', user=Row(followers_count=59, utc_offset=None))

In [7]:
# Parse the raw timestamp column of the main df into proper Timestamps
parsed_time_df = funcs.parse_timestamp(main_df)

In [8]:
# With Timestamps parsed, group all tweets together by the day in which they were posted
volume_df = parsed_time_df.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count() .toPandas()

# Eliminate rows with empty columns, and print out the remaining contents
volume_df.dropna()
volume_df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-10-20</td>
      <td>256370</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-10-31</td>
      <td>152224</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-11-01</td>
      <td>290947</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-10-24</td>
      <td>125656</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-10-22</td>
      <td>307229</td>
    </tr>
    <tr>
      <th>5</th>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2017-11-10</td>
      <td>214538</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2017-11-23</td>
      <td>215200</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2017-11-16</td>
      <td>442745</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2017-11-14</td>
      <td>382167</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2017-11-15</td>
      <td>414060</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2017-10-21</td>
      <td>281832</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2017-10-25</td>
      <td>122090</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2017-11-12</td>
      <td>402885</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2017-11-17</td>
      <td>363870</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2017-11-22</td>
      <td>520918</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2017-10-19</td>
      <td>166704</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2017-10-26</td>
      <td>263167</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2017-10-23</td>
      <td>324848</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2017-11-13</td>
      <td>369999</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2017-11-07</td>
      <td>164673</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2017-11-19</td>
      <td>204342</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2017-11-11</td>
      <td>340496</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2017-11-20</td>
      <td>480150</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2017-11-21</td>
      <td>485447</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
# Load all crypto price data, and set the dataframe's index to be the datetimes
crix = funcs.load_crix()

# Print contents
crix

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-10-10</th>
      <td>12025.6771</td>
    </tr>
    <tr>
      <th>2017-10-11</th>
      <td>12130.8959</td>
    </tr>
    <tr>
      <th>2017-10-12</th>
      <td>12843.3856</td>
    </tr>
    <tr>
      <th>2017-10-13</th>
      <td>13656.6074</td>
    </tr>
    <tr>
      <th>2017-10-14</th>
      <td>13755.6341</td>
    </tr>
    <tr>
      <th>2017-10-15</th>
      <td>13778.8921</td>
    </tr>
    <tr>
      <th>2017-10-16</th>
      <td>13787.9659</td>
    </tr>
    <tr>
      <th>2017-10-17</th>
      <td>13508.3117</td>
    </tr>
    <tr>
      <th>2017-10-18</th>
      <td>13334.0485</td>
    </tr>
    <tr>
      <th>2017-10-19</th>
      <td>13392.0860</td>
    </tr>
    <tr>
      <th>2017-10-20</th>
      <td>13681.0709</td>
    </tr>
    <tr>
      <th>2017-10-21</th>
      <td>13776.5329</td>
    </tr>
    <tr>
      <th>2017-10-22</th>
      <td>13661.5378</td>
    </tr>
    <tr>
      <th>2017-10-23</th>
      <td>13498.8330</td>
    </tr>
    <tr>
      <th>2017-10-24</th>
      <td>13060.1660</td>
    </tr>
    <tr>
      <th>2017-10-25</th>
      <td>13269.6114</td>
    </tr>
    <tr>
      <th>2017-10-26</th>
      <td>13499.6277</td>
    </tr>
    <tr>
      <th>2017-10-27</th>
      <td>13401.4946</td>
    </tr>
    <tr>
      <th>2017-10-28</th>
      <td>13384.0713</td>
    </tr>
    <tr>
      <th>2017-10-29</th>
      <td>14120.6711</td>
    </tr>
    <tr>
      <th>2017-10-30</th>
      <td>14128.9584</td>
    </tr>
    <tr>
      <th>2017-10-31</th>
      <td>14449.9127</td>
    </tr>
    <tr>
      <th>2017-11-01</th>
      <td>14869.4613</td>
    </tr>
    <tr>
      <th>2017-11-02</th>
      <td>15414.6315</td>
    </tr>
    <tr>
      <th>2017-11-03</th>
      <td>15880.4893</td>
    </tr>
    <tr>
      <th>2017-11-04</th>
      <td>15970.5853</td>
    </tr>
    <tr>
      <th>2017-11-05</th>
      <td>16013.3168</td>
    </tr>
    <tr>
      <th>2017-11-06</th>
      <td>15659.3479</td>
    </tr>
    <tr>
      <th>2017-11-07</th>
      <td>15772.9054</td>
    </tr>
    <tr>
      <th>2017-11-08</th>
      <td>16507.9011</td>
    </tr>
    <tr>
      <th>2017-11-09</th>
      <td>16446.6296</td>
    </tr>
    <tr>
      <th>2017-11-10</th>
      <td>15757.6868</td>
    </tr>
    <tr>
      <th>2017-11-11</th>
      <td>16115.4187</td>
    </tr>
    <tr>
      <th>2017-11-12</th>
      <td>15572.3761</td>
    </tr>
    <tr>
      <th>2017-11-13</th>
      <td>16177.2452</td>
    </tr>
    <tr>
      <th>2017-11-14</th>
      <td>16735.3473</td>
    </tr>
    <tr>
      <th>2017-11-15</th>
      <td>17597.7731</td>
    </tr>
    <tr>
      <th>2017-11-16</th>
      <td>17895.2367</td>
    </tr>
    <tr>
      <th>2017-11-17</th>
      <td>18354.3620</td>
    </tr>
    <tr>
      <th>2017-11-18</th>
      <td>18695.3091</td>
    </tr>
    <tr>
      <th>2017-11-19</th>
      <td>18905.1040</td>
    </tr>
    <tr>
      <th>2017-11-20</th>
      <td>19465.4494</td>
    </tr>
    <tr>
      <th>2017-11-21</th>
      <td>19168.4077</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
# In-place override of volume_df's current index to be the date column.
# Ensure each entry in this column is parsed as well
volume_df.set_index('date', inplace=True)
volume_df.index = pd.to_datetime(volume_df.index)

# Combine the overall crypto price data and the volume_df, to prepare to draw a correlation
# between crypto-currency price and the amount of tweets for a given day
crix_and_vol = crix
crix_and_vol['volume'] = volume_df['count']
crix_and_vol = crix_and_vol.dropna()

KeyError: 'date'

In [29]:
# Find the correlation between price and volume
crix_and_vol.corr()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
      <th>volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>price</th>
      <td>1.000000</td>
      <td>0.660629</td>
    </tr>
    <tr>
      <th>volume</th>
      <td>0.660629</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [30]:
# Graph the overall correlation with 3 axes: Price, Data, and Volume.
# This graph will show how the number of tweets on a given day correlates with the price 
scaled_price = crix_and_vol.price * (crix_and_vol.volume.iloc[0] / crix_and_vol.price.iloc[0])
double_plot([crix_and_vol.price, crix_and_vol.volume], ['Index Price', 'Tweets'], ['Date', 'Price', 'Volume'], "Price vs Tweet Volume", crix_and_vol.index.tolist())

In [125]:
# Filter out all tweets specifically about bitcoin
btc_df_vol = parsed_time_df.filter(fs.lower(main_df['text']).like("%bitcoin%") | fs.lower(main_df['text']).like("%btc%"))

# Create a 'date' column by parsing the raw timestamp column, and grouping together by day
btc_df_vol = btc_df_vol.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count().toPandas()

# Remove incomplete rows and update the index to be parsed timestamps
btc_df_vol.dropna()
btc_df_vol.set_index('date', inplace=True)
btc_df_vol.index = pd.to_datetime(btc_df_vol.index)

# Print bitcoin df
btc_df_vol

In [ ]:
# Load in bitcoin-related crypto price data. Then, parse the index column as timestamps 
btc = pd.read_csv(os.path.join(CRYPTO_DIR, "KRAKEN_BTC_EUR.csv"), index_col=0)
btc.index = pd.to_datetime(btc.index)

# Combine the bitcoin price data with the dataframe representing 
# the volume of bitcoin tweets per day
btc_and_vol = btc
btc_and_vol['price'] = btc_and_vol.weightedAverage
btc_and_vol['volume'] = btc_df_vol['count']
btc_and_vol = btc_and_vol.dropna()

double_plot([btc_and_vol.price, btc_and_vol.volume], ['BTC Price', 'Tweets'], ['Date', 'Price', 'Volume'], "BTC Price vs Tweet Volume", btc_and_vol.index.tolist())
btc_and_vol.corr().price.volume

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-10-20</th>
      <td>129752</td>
    </tr>
    <tr>
      <th>2017-10-31</th>
      <td>75257</td>
    </tr>
    <tr>
      <th>2017-11-01</th>
      <td>147054</td>
    </tr>
    <tr>
      <th>2017-10-24</th>
      <td>63104</td>
    </tr>
    <tr>
      <th>2017-10-22</th>
      <td>130149</td>
    </tr>
    <tr>
      <th>2017-11-10</th>
      <td>98193</td>
    </tr>
    <tr>
      <th>2017-11-23</th>
      <td>81247</td>
    </tr>
    <tr>
      <th>2017-11-16</th>
      <td>182179</td>
    </tr>
    <tr>
      <th>2017-11-14</th>
      <td>163515</td>
    </tr>
    <tr>
      <th>2017-11-15</th>
      <td>171196</td>
    </tr>
    <tr>
      <th>2017-10-21</th>
      <td>134881</td>
    </tr>
    <tr>
      <th>2017-10-25</th>
      <td>53184</td>
    </tr>
    <tr>
      <th>2017-11-12</th>
      <td>172009</td>
    </tr>
    <tr>
      <th>2017-11-17</th>
      <td>161065</td>
    </tr>
    <tr>
      <th>2017-11-22</th>
      <td>182330</td>
    </tr>
    <tr>
      <th>2017-10-19</th>
      <td>74350</td>
    </tr>
    <tr>
      <th>2017-10-26</th>
      <td>118087</td>
    </tr>
    <tr>
      <th>2017-10-23</th>
      <td>163773</td>
    </tr>
    <tr>
      <th>2017-11-13</th>
      <td>176870</td>
    </tr>
    <tr>
      <th>2017-11-07</th>
      <td>64129</td>
    </tr>
    <tr>
      <th>2017-11-19</th>
      <td>81072</td>
    </tr>
    <tr>
      <th>2017-11-11</th>
      <td>149627</td>
    </tr>
    <tr>
      <th>2017-11-20</th>
      <td>199886</td>
    </tr>
    <tr>
      <th>2017-11-21</th>
      <td>183598</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
# Filter out all tweets specifically about ethereum
eth_df_vol = parsed_time_df.filter(fs.lower(main_df['text']).like("%ether%") | fs.lower(main_df['text']).like("%eth%") | fs.lower(main_df['text']).like("%ethereum%"))

# Create a 'date' column by parsing the raw timestamp column, and grouping together by day
eth_df_vol = eth_df_vol.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count().toPandas()

# Remove incomplete rows and update the index to be parsed timestamps
eth_df_vol = eth_df_vol.dropna()
eth_df_vol.set_index('date', inplace=True)
eth_df_vol.index = pd.to_datetime(eth_df_vol.index)

# Print ethereum df
eth_df_vol

In [ ]:
# Load in ethereum-related crypto price data. Then, parse the index column as timestamps 
eth = pd.read_csv(os.path.join(CRYPTO_DIR, "KRAKEN_ETH_EUR.csv"), index_col=0)
eth.index = pd.to_datetime(eth.index)

# Combine the ethereum price data with the dataframe representing 
# the volume of ethereum tweets per day
eth_and_vol = eth
eth_and_vol['price'] = eth_and_vol.weightedAverage
eth_and_vol['volume'] = eth_df_vol['count']
eth_and_vol = eth_and_vol.dropna()

# Graph the data
double_plot([eth_and_vol.price, eth_and_vol.volume], ['ETH Price', 'Tweets'], ['Date', 'Price', 'Volume'], "ETH Price vs Tweet Volume", eth_and_vol.index.tolist())
eth_and_vol.corr().price.volume