In [1]:
from src.spark import Spark
import src.tweet_volume as funcs
import matplotlib.pyplot as plt
from pyspark.sql import functions as fs
import os 
import pandas as pd
from src.plotting import double_plot

In [2]:
spark = Spark('load', 'spark://pc2-060-l.cs.st-andrews.ac.uk:7077')
sess = spark.session()

In [3]:
df = funcs.load_dataframe(sess, funcs.default_loc, funcs.schema)
df.first()

Row(text=u'RT @VinnyLingham2x: #Bitcoin needs less developers, and more incumbents and intermediaries! https://t.co/iia0k7i09B', entities=Row(hashtags=[Row(indices=[20, 28], text=u'Bitcoin')]), created_at=u'Thu Oct 26 06:26:17 +0000 2017', favourite_count=None, retweet_count=0, id_str=u'923435597242478592', user=Row(followers_count=59, utc_offset=None))

In [4]:
df2 = funcs.parse_timestmap(df)

In [ ]:
volume_df = df2.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count() .toPandas()

volume_df

In [8]:

crix = pd.read_csv(os.path.join("/cs/home/ls99/PycharmProjects/Spark/data/crypto", "crix.csv"), index_col=0)
crix.index = pd.to_datetime(crix.index)

In [ ]:
volume_df.dropna()
volume_df.set_index('date', inplace=True)
volume_df.index = pd.to_datetime(volume_df.index)

crix_and_vol = crix
crix_and_vol['volume'] = volume_df['count']
crix_and_vol_nona = crix_and_vol.dropna()

In [15]:
crix_and_vol_nona.corr()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
      <th>volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>price</th>
      <td>1.000000</td>
      <td>0.585943</td>
    </tr>
    <tr>
      <th>volume</th>
      <td>0.585943</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
scaled_price = crix_and_vol_nona.price * (crix_and_vol_nona.volume.iloc[0] / crix_and_vol_nona.price.iloc[0])
double_plot([crix_and_vol_nona.price, crix_and_vol_nona.volume], ['Index Price', 'Tweets'], ['Date', 'Price', 'Volume'], "Price vs Tweet Volume", crix_and_vol_nona.index.tolist())

In [42]:
crix_and_vol_nona.corr().price.volume

0.58594334311745255

In [103]:
btc_df = df2.filter(fs.lower(df['text']).like("%bitcoin%") | fs.lower(df['text']).like("%btc%"))

In [ ]:
btc_df_vol = btc_df.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count().toPandas()

btc = pd.read_csv(os.path.join("/cs/home/ls99/PycharmProjects/Spark/data/crypto/KRAKEN_BTC_EUR.csv"), index_col=0)
btc.index = pd.to_datetime(btc.index)

btc_df_vol.dropna()
btc_df_vol.index = pd.to_datetime(btc_df_vol.index)

btc_and_vol = btc
btc_and_vol['price'] = btc_and_vol.weightedAverage
btc_and_vol['volume'] = btc_df_vol['count']
btc_and_vol_nona = btc_and_vol.dropna()

double_plot([btc_and_vol_nona.price, btc_and_vol_nona.volume], ['BTC Price', 'Tweets'], ['Date', 'Price', 'Volume'], "BTC Price vs Tweet Volume", btc_and_vol_nona.index.tolist())
btc_and_vol_nona.corr().price.volume

In [5]:
eth_df = df2.filter(fs.lower(df['text']).like("%ether%") | fs.lower(df['text']).like("%eth%") | fs.lower(df['text']).like("%ethereum%"))

In [ ]:
eth_df_vol = eth_df.withColumn("date", fs.date_format("timestamp", "yyyy-MM-dd")).groupBy("date").count().toPandas()

eth = pd.read_csv(os.path.abspath(os.path.join("/cs/home/ls99/PycharmProjects/Spark/data/crypto","KRAKEN_ETH_EUR.csv")), index_col=0)
eth.index = pd.to_datetime(eth.index)

eth_df_vol.dropna()
eth_df_vol.set_index('date', inplace=True)
eth_df_vol.index = pd.to_datetime(eth_df_vol.index)

eth_and_vol = eth
eth_and_vol['price'] = eth_and_vol.weightedAverage
eth_and_vol['volume'] = eth_df_vol['count']
eth_and_vol_nona = eth_and_vol.dropna()

double_plot([eth_and_vol_nona.price, eth_and_vol_nona.volume], ['ETH Price', 'Tweets'], ['Date', 'Price', 'Volume'], "ETH Price vs Tweet Volume", eth_and_vol_nona.index.tolist())

In [123]:
eth_df_vol

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1970-01-01 00:00:00.000000000</th>
      <td>2017-10-20</td>
      <td>33089</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000001</th>
      <td>2017-10-31</td>
      <td>17956</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000002</th>
      <td>2017-11-01</td>
      <td>37185</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000003</th>
      <td>2017-10-24</td>
      <td>17504</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000004</th>
      <td>2017-10-22</td>
      <td>38421</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000005</th>
      <td>2017-11-10</td>
      <td>24914</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000006</th>
      <td>2017-11-23</td>
      <td>27057</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000007</th>
      <td>2017-11-16</td>
      <td>49582</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000008</th>
      <td>2017-11-14</td>
      <td>45862</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000009</th>
      <td>2017-11-15</td>
      <td>48066</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000010</th>
      <td>2017-10-25</td>
      <td>16459</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000011</th>
      <td>2017-10-21</td>
      <td>43250</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000012</th>
      <td>2017-11-12</td>
      <td>49145</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000013</th>
      <td>2017-11-17</td>
      <td>39254</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000014</th>
      <td>2017-11-22</td>
      <td>64002</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000015</th>
      <td>2017-10-19</td>
      <td>23307</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000016</th>
      <td>2017-10-26</td>
      <td>37909</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000017</th>
      <td>2017-10-23</td>
      <td>47430</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000018</th>
      <td>2017-11-13</td>
      <td>41197</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000019</th>
      <td>2017-11-07</td>
      <td>30366</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000020</th>
      <td>2017-11-19</td>
      <td>25536</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000021</th>
      <td>2017-11-11</td>
      <td>41328</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000022</th>
      <td>2017-11-20</td>
      <td>47700</td>
    </tr>
    <tr>
      <th>1970-01-01 00:00:00.000000023</th>
      <td>2017-11-21</td>
      <td>67427</td>
    </tr>
  </tbody>
</table>
</div>

In [125]:
eth_and_vol_nona.corr().price.volume

0.39946022045860696

In [6]:
from src.nlp.sentiment import SentimentAnalyser

Py4JJavaError: An error occurred while calling o152.fit.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 61 in stage 2.0 failed 4 times, most recent failure: Lost task 61.3 in stage 2.0 (TID 179, 138.251.29.69, executor 16): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 229, in main
    process()
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 224, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 149, in <lambda>
    func = lambda _, it: map(mapper, it)
  File "<string>", line 1, in <lambda>
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 74, in <lambda>
    return lambda *a: f(*a)
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 66, in <lambda>
    return lambda *a: g(f(*a))
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 66, in <lambda>
    return lambda *a: g(f(*a))
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 66, in <lambda>
    return lambda *a: g(f(*a))
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 66, in <lambda>
    return lambda *a: g(f(*a))
  File "src/nlp/clean.py", line 5, in <lambda>
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/sql/functions.py", line 42, in _
    jc = getattr(sc._jvm.functions, name)(col._jc if isinstance(col, Column) else col)
AttributeError: 'NoneType' object has no attribute '_jvm'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:83)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:66)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:439)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.sort_addToSorter$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$10$$anon$1.hasNext(WholeStageCodegenExec.scala:614)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.foldLeft(TraversableOnce.scala:157)
	at scala.collection.AbstractIterator.foldLeft(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.aggregate(TraversableOnce.scala:214)
	at scala.collection.AbstractIterator.aggregate(Iterator.scala:1336)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1$$anonfun$23.apply(RDD.scala:1139)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1$$anonfun$23.apply(RDD.scala:1139)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1$$anonfun$24.apply(RDD.scala:1140)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1$$anonfun$24.apply(RDD.scala:1140)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:800)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:800)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1599)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1587)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1586)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1586)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1820)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1769)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1758)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2027)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2124)
	at org.apache.spark.rdd.RDD$$anonfun$fold$1.apply(RDD.scala:1092)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.fold(RDD.scala:1086)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1.apply(RDD.scala:1155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.treeAggregate(RDD.scala:1131)
	at org.apache.spark.mllib.feature.IDF.fit(IDF.scala:54)
	at org.apache.spark.ml.feature.IDF.fit(IDF.scala:92)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 229, in main
    process()
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 224, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 149, in <lambda>
    func = lambda _, it: map(mapper, it)
  File "<string>", line 1, in <lambda>
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 74, in <lambda>
    return lambda *a: f(*a)
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 66, in <lambda>
    return lambda *a: g(f(*a))
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 66, in <lambda>
    return lambda *a: g(f(*a))
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 66, in <lambda>
    return lambda *a: g(f(*a))
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/worker.py", line 66, in <lambda>
    return lambda *a: g(f(*a))
  File "src/nlp/clean.py", line 5, in <lambda>
  File "/cs/home/ls99/Downloads/spark-master/python/lib/pyspark.zip/pyspark/sql/functions.py", line 42, in _
    jc = getattr(sc._jvm.functions, name)(col._jc if isinstance(col, Column) else col)
AttributeError: 'NoneType' object has no attribute '_jvm'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:83)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:66)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:439)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.sort_addToSorter$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$10$$anon$1.hasNext(WholeStageCodegenExec.scala:614)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.foldLeft(TraversableOnce.scala:157)
	at scala.collection.AbstractIterator.foldLeft(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.aggregate(TraversableOnce.scala:214)
	at scala.collection.AbstractIterator.aggregate(Iterator.scala:1336)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1$$anonfun$23.apply(RDD.scala:1139)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1$$anonfun$23.apply(RDD.scala:1139)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1$$anonfun$24.apply(RDD.scala:1140)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1$$anonfun$24.apply(RDD.scala:1140)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:800)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:800)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more